body {
    background-image: url('imagens/fundo.png');
    background-color: #d2d2c1;
    font: 16px Arial, Helvetica, sans-serif;
}

.menu {
    font-size: 1.5em;
}

.sobre {
    width: 900px;
    height: 280px;
    background-color: beige;
}
.biografia {
    width: 900px;
    height: 300px;
    background-color: beige;
}
.campanhas{
    width: 900px;
    background-color: beige;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}

#titulosobre {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(145, 145, 125);
}

.rodape {
    width: 900px;
    text-align: center;
}
img{
    border: 10px solid rgb(145, 145, 125);
}