body {
    background-image: url('imagens/fundo.png');
    background-color: #d2d2c1;
    font: 16px Arial, Helvetica, sans-serif;
}
#principal{
    width: 920px;
}
#menu{
    background: #c5c5b2;
    padding: 18px;
}
#conteudo{
    background: #e8e8d9;
    padding: 10px;
}
#sobre{
    color: rgb(145, 145, 125);
}
#rodape{
    text-align: center;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
img{
    border: 10px solid #c3c3ae;
}